<section class="modules-top-banner clearfix">
<div class="row">
	<div class="col-xs-2 top-banner-illus-container">
		<img class="img-responsive" src="images/banner-illus.png" alt="">
	</div>
	<div class="col-xs-10">
		<h1>Pimp your Shop with hot features!</h1>
		<h2>Exclusive promotions on Merchandising section</h2>
		<div class="row">
			<div class="col-sm-8">
				<p>With PrestaShop's Merchandising modules, online store owners can effectively cross-sell products, assign gifts based on product selection.</p>
			</div>
			<div class="col-sm-4">
				<button class="btn btn-top-banner">View promotions <i class="icon-arrow-right"></i></button>
			</div>
		</div>
	</div>
 	<a href="#" class="banner-close"><i class="icon-times"></i></a>
 </div>
</section>