<div class="row module-empty-list">
  <div class="col-lg-6 col-lg-push-3">
    <br>
    <br>
    <br>
    <br>
    <img class="center-block empty-list-icon" src="images/little-sad-mod.png" alt="">
    <h4 class="text-center">There is no module in the Catalog matching your filters</h4>
    <br>
    <div class="text-center">
      <button class="btn btn-default" ng-click="setFilters('All')"><i class="icon-eraser"></i> Reset all filters</button>
      <a class="btn btn-default" ng-show="activetab=='/configure'" href="/"><i class="icon-book"></i> Look in the Catalog</a>
    </div>
    <br>
    <br>
    <div class="well" ng-show="activetab=='/'">
      <h4>But wait… </h4>
      <p>...there is a lot of great modules on <a href="http://addons.prestashop.com"  target="blank">addons.prestashop.com</a></br>
      Be sure to explore our full catalog, we are convenient that you’ll find the next feature your are looking for enhance your shop.</p>
      <br>
      <br>   
      <a class="center-block text-center" href="http://addons.prestashop.com" target="blank"><img src="images/prestashop-addons-logo.png" alt=""></a>
      <br>
    </div>
  </div>
</div>